<template>
  <v-btn
   class="mx-2"
   dark
   small
   color="accent"
   :loading="loading"
   @click="startExport"
   >
   {{caption}}
   <v-icon dark>
     mdi-download
   </v-icon>
 </v-btn>
</template>

<script>
import gqlCreator from './../helpers/gqlCreator';
export default {
  props: [
    "filter",
    "model",
    "listName",
    "caption",
    "queryFields",
    "sort",
    "exportName"
  ],
  name: 'CSVexport',
  data () {
    return {
      records:[],
      itemsConnection:{},
      items:{},
      skipDownload: true,
      skipCount: true,
      loading:false
    };
  },
  computed:{
    totalCount(){
      //return 0;
      return this.itemsConnection.aggregate?this.itemsConnection.aggregate.count:0;
    },
    start(){
      return 0+this.records.length;
    }
  },
  methods:{
    startExport(){
      this.skipCount = false;
      this.loading = true;
    },
    download(){
      if(this.loading){
        //prepare download
        let csvString = '';
        for(let i = 0; i < this.records.length; i++){
          let row = [];
          //headers
          if(i === 0){
            for(let col in this.records[i]){
                row.push('"'+col+'"');
            }
            csvString+=row.join(";")+"\n";
            row = [];
          }
          //contents
          for(let col in this.records[i]){
              let v = this.records[i][col] === null ? '' : String(this.records[i][col]);
              row.push('"'+v+'"');
          }
          csvString+=row.join(";")+"\n";
        }
        var pom = document.createElement('a');
        pom.setAttribute('href', 'data:text/csv;charset=utf-8,' + encodeURIComponent(csvString));
        pom.setAttribute('download', this.exportName+'.csv');
        pom.click();
        this.loading = false;
        this.records = [];
        this.itemsConnection={};
        this.items={};
        this.skipCount = true;
        this.skipDownload = true;
      }
    }
  },
  apollo: {
      items: {
        query(){
            return gqlCreator.query(this.$props.model,this.$props.listName,{
              qVars:'sort: $sort, start: $start, limit: $limit, where: $where',
              qSpec:'$sort: String, $start: Int, $limit: Int, $where: JSON'
            },this.queryFields);
        },
        variables() {
          return {
            sort: this.sort,
            start: this.start,
            limit: 100,
            where: this.filter
          }
        },
        update (data) {
            return data[this.$props.listName];
        },
        skip () {
          return this.skipDownload;
        },
      },
      itemsConnection:{
        query(){
          return gqlCreator.query('count',this.$props.listName);
        },
        variables() {
          return {where:this.filter}
        },
        update (data) {
          return data[this.$props.listName+'Connection'];
        },
        skip () {
          return this.skipCount;
        },
      }
  },
  watch:{
    totalCount(){
      //console.log("count changed: "+ this.totalCount);
      if(this.totalCount !== 0){
          this.skipDownload = false;
      }
    },
    items(){
      this.records = this.records.concat(this.items);

      if(this.records.length === this.totalCount){
        this.$nextTick(() => {
          this.download();
        });
      }
    }
  }
}
</script>
