<template>
  <v-dialog
    v-model="filterDialog"
    scrollable
    max-width="900px"
  >
    <template v-slot:activator="{ on, attrs }">
      <v-btn
        color="accent"
        dark
        v-bind="attrs"
        v-on="on"
      >
        Tabelle Filtern
        <v-icon dark>
          mdi-filter
        </v-icon>
      </v-btn>
    </template>
    <v-card>
      <v-card-title>Filter Editor</v-card-title>
      <v-divider></v-divider>
      <v-card-text>
        <v-row>
          <v-col cols="12" md="11">
            <FilterDisplay
              :filter="tempFilter"
              :andAction="addFilter"
              :orAction="addFilter"
              :deleteAction="deleteFilter"
              :nextFilterOperant="nextFilterOperant"
              :filterIndex="filterIndex"
              :key="'updated'+helpKey"
              :editAction="edit"
               />
          </v-col>
        </v-row>
        <v-row align="center">
          <v-col cols="12" md="4">
            <v-select
              v-if="nextFilterOperant!==null || tempFilter.length === 0 || editFilter.length === 3"
              :items="filterFields"
              v-model="selectedFilterField"
              label="Spalte"
              item-text="name"
              item-value="value"
             />
           </v-col>
           <v-col cols="12" md="3">
             <v-select
                v-if="selectedFilterField"
                :items="[{name:'enthält',value:'contains'},{name:'enthält nicht',value:'ncontains'},{name:'ist gleich',value:'eq'},{name:'ist kleiner als',value:'lt'},{name:'ist größer als',value:'gt'}]"
                v-model="selectedFilterOperator"
                label="Operant"
                item-text="name"
                item-value="value"
              >
            </v-select>
          </v-col>
          <v-col cols="12" md="4">
            <v-text-field v-if="selectedFilterField" v-model="filterText" label="Text"></v-text-field>
          </v-col>
          <v-col cols="12" md="1">
            <v-btn color="accent" v-if="selectedFilterField" small icon  @click="addFilter">
              <v-icon dark>
                mdi-plus
              </v-icon>
            </v-btn>
          </v-col>
        </v-row>
      </v-card-text>
      <v-divider></v-divider>
      <v-card-actions>
        <v-flex v-if="error" class="text-xs-center" mt-5>
          <v-alert style="white-space:pre-wrap" type="error">{{error}}</v-alert>
        </v-flex>
        <v-spacer />
        <v-btn
          color="danger"
          text
          @click="tempFilter = [];filterIndex=-1"
        >
          Alle Filter entfernen
        </v-btn>
        <v-btn
          color="secondary"
          text
          @click="filterDialog = false"
        >
          Abbrechen
        </v-btn>
        <v-btn
          color="accent"
          dark
          @click="applyfilter"
          v-if="filterIndex === -1"
        >
          Anwenden
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>

</template>
<script>
import FilterDisplay from './FilterDisplay';
export default {
  components: {
    FilterDisplay
  },
  props: [
    "model",
    "editFilter"
  ],
  name: 'FilterEditor',
  data () {
    return {
      helpKey: 0,
      filter:[],
      tempFilter:[],
      nextFilterOperant: null,
      filterIndex: -1,
      filterText:'',
      selectedFilterOperator:'contains',
      selectedFilterField: null,
      filterDialog:false,
      disabled:[],
      error:null
    };
  },
  methods:{
    applyfilter() {
      this.filterDialog = false;
      this.filter = Object.assign([], this.tempFilter);
      this.$emit('input', this.filter);
    },
    deleteFilter(i){
      this.tempFilter.splice(i, 1);
      this.disabled.splice(i, 1);
    },
    edit(){
      this.filterDialog = true;
    },
    addFilter(andOr,index){

      /*
      filterText:'',
      filter:[],
      selectedFilterOperator:'contains',
      selectedFilterField: null,
      */
      this.error = null;

      if(typeof andOr === 'string'){

        //set upcoming filter for and or or
        if(this.filterIndex !== -1){
          this.nextFilterOperant = null
          this.filterIndex = -1;
        }else{
          this.nextFilterOperant = andOr
          this.filterIndex = index===undefined? -1 : index;
        }
      }else{
        //addFilter

        let pusher = {};
        pusher[this.selectedFilterField + "_" + this.selectedFilterOperator] = this.filterText;
        let i = this.filterIndex===-1? Math.max(this.tempFilter.length-1,0) : this.filterIndex;
        if(this.nextFilterOperant === 'and'){
          if(this.disabled.length > 0 && this.disabled[i].indexOf(this.selectedFilterField + "_" + this.selectedFilterOperator)!==-1){
            this.error = 'Zur Zeit unterstützt der Filter nicht mehrere Und-Bedingungen für gleiche Feld-Vergleichs-Einheiten.'
          }else{
            this.tempFilter[i] = this.tempFilter[i] === undefined ? [[pusher]] : this.tempFilter[i].concat([pusher]);
          }
        }else{
          this.tempFilter.push([pusher]);
        }
        if(this.error === null){
          this.disabled[i] = this.disabled[i] === undefined ? [this.selectedFilterField + "_" + this.selectedFilterOperator] : this.disabled[i].push(this.selectedFilterField + "_" + this.selectedFilterOperator);
          this.nextFilterOperant = null;
          this.helpKey++;//for update triggers
          this.filterIndex = -1;
        }
      }
      if(this.error === null){
        this.showColSel = false;
        this.selectedFilterField = null;
      }
    },
  },
  computed: {
    filterC(){
      let fc = [];
      this.tempFilter.map(function(oF){
        let ands = [];
        oF.map(function(aF){
          for(let k in aF){
            ands.push('<'+k.split('_')[0] + '> ' + k.split('_')[1] + ' \'' + aF[k]+'\'');
          }
        });
        fc.push(ands);
      });
      return fc;
    },
    filterFields(){
      let model = this.$props.model;
      let fields = [];
      //let createVerein = this.editedIndex === -1;
      for(let field in model){
        if(typeof model[field] === "string" || typeof model[field] === "boolean" || model[field].filterAble === undefined || model[field].filterAble === true){
          fields.push({
            value: field,
            name: typeof model[field] === "object" ? model[field].text : typeof model[field] === 'boolean' ? field : model[field],
            disabled: this.disabled.length === 0?false:this.disabled[this.filterIndex].indexOf(field + "_" + this.selectedFilterOperator) !== -1
          });
        }
      }
      return fields;
    },
  }
}
</script>
