<template>
  <div>
    <v-system-bar app>
      <v-spacer></v-spacer>
      <v-icon v-if="!isLoggedIn">mdi-lan-disconnect</v-icon>
      <v-icon v-if="$apollo.loading">mdi-lan-pending</v-icon>
      <v-icon v-if="isLoggedIn">mdi-lan-connect</v-icon>
    </v-system-bar>

    <v-app-bar app>
      <v-app-bar-nav-icon @click="drawer = !drawer" class="hidden-sm-and-up"></v-app-bar-nav-icon>
      <router-link to="/">
        <v-img
          class="mx-2"
          src="/logo.png"
          max-height="100"
          max-width="100"
          contain
        ></v-img>
      </router-link>
      <v-toolbar-title>{{ appTitle }}</v-toolbar-title>
      <v-spacer></v-spacer>
      <v-toolbar-items class="hidden-xs-only">
        <v-btn
          v-for="item in activeMenu"
          :key="item.title"
          :to="item.path">
          <v-icon left dark>{{ item.icon }}</v-icon>
          {{ item.title }}
        </v-btn>
      </v-toolbar-items>
    </v-app-bar>
    <v-navigation-drawer
      v-model="drawer"
      fixed
      temporary
    >
      <v-list>
        <v-list-item
          v-for="item in activeMenu"
          :key="item.title"
          :to="item.path"
        >
          <v-list-item-icon>
            <v-icon>{{ item.icon }}</v-icon>
          </v-list-item-icon>

          <v-list-item-content>
            <v-list-item-title>{{ item.title }}</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list>

    </v-navigation-drawer>
  </div>
</template>
<script>

export default {
  name: 'HeadNavi',
  props: {
    rights:{
      type: Object,
      required: false
    },
    isLoggedIn: {
      type: Boolean,
      required: true
    },
    appTitle:{
      type: String,
      required: false
    }
  },
  data () {
    return {
      drawer: null,
      menuItems: [
          { title: 'Vereine', path: '/vereine', icon: 'mdi-golf', visible: 'isLoggedIn' },
          { title: 'Bestenliste', path: '/bestenliste', icon: 'mdi-trophy-variant', visible: 'isLoggedIn' },
          { title: 'Kontakte', path: '/kontakte', icon: 'mdi-account-group', visible: 'isLoggedIn' },
          { title: 'Sign Up', path: '/signup', icon: 'face', visible: 'canCreateUsers' },
          { title: 'Anmelden', path: '/signin', icon: 'lock_open',invisible: 'isLoggedIn' },
          { title: 'Abmelden', path: '/logout', icon: 'lock_open',visible: 'isLoggedIn' }
     ]
    }
  },
  computed:{
    canCreateUsers(){
      return this.rights.createUsers === true;
    },
    activeMenu(){//function to display menu items
      let data = this;
      return this.menuItems.filter(function(item){
        return item.visible === undefined && item.invisible === undefined || (item.visible !== undefined && data[item.visible]) || (item.invisible !== undefined && !data[item.invisible]);
      });
    }
  }
}
</script>
