<template>
  <v-select
  v-model="selected"
  :label="label"
  :items="cItems"
  :required="required"
  :rules="rules"
  :item-text="model.long"
  :item-value="model.value" />
</template>
<script>
import gql from 'graphql-tag';
export default {
  props: [
    "defaultSelected",
    "required",
    "rules",
    "label",
    "model"
  ],
  name: 'SelectList',
  data () {
    return {
      items:[]
    };
  },
  computed: {
    cItems(){
      if(this.required){
        return this.items;
      }else{
        //add empty entry
        let empty = {};
        empty[this.model.value] = null;
        empty[this.model.long] = '-';
        return [empty].concat(this.items);
      }
    },
   selected: {
     //get default selection from property
     get() {
       return this.defaultSelected;
     },
     //trigger change event in parent
     set(newVal) {
       if (this.selected !== newVal) {
         this.$emit('input', newVal);
       }
     }
   }
 },
  apollo: {
    items: {
      query(){
          let model = this.$props.model.model;
          let qfs = '';
          for (let field in model){
            if(model[field].type !== 'list' && model[field].type !== 'select'){
              qfs += field + '\n'
            }else{
              qfs += field + '{';
                for(let subF in model[field].model){
                  qfs += subF + '\n';
                }
              qfs += '}\n';
            }
          }
          return gql`query{
              ${this.$attrs.listName}{
                ${qfs}
              }
            }`
      },
      update (data) {
          return data[this.$attrs.listName];
      }
    }
  }
}
</script>
