<template>
  <v-container fluid>
    <v-layout row wrap>
      <v-flex xs12 sm6 offset-sm3 mt-3 v-if="!isLoggedIn">
        <h1>Anmelden</h1>
        <v-card
          max-width="1200"
        >
          <v-container>
            <v-row>
              <v-col>
                <v-form v-model="valid" action="POST" @submit.prevent="loginUser">
                  <v-layout column>
                    <v-flex>
                      <v-text-field
                        name="email"
                        label="E-Mail"
                        id="email"
                        type="email"
                        :rules="emailRules"
                        autocomplete="username"
                        v-model="authDetails.identifier"
                        required></v-text-field>
                    </v-flex>
                    <v-flex>
                      <v-text-field
                        name="password"
                        label="Passwort"
                        id="password"
                        type="password"
                        :rules="passRules"
                        autocomplete="current-password"
                        v-model="authDetails.password"
                        required></v-text-field>
                    </v-flex>
                    <v-flex class="text-xs-center" mt-5>
                      <v-btn color="success" type="submit">Anmelden</v-btn>
                    </v-flex>
                    <v-flex v-if="error" class="text-xs-center" mt-5>
                      <v-alert
                        type="error"
                      >{{error}}</v-alert>
                    </v-flex>
                  </v-layout>
                </v-form>
              </v-col>
            </v-row>
          </v-container>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import gql from 'graphql-tag';

const LOGIN_USER = gql`
mutation login ($identifier: String! $password: String! ){
  login(input:{identifier: $identifier password: $password}){
    jwt
  }
}
`

export default {
  name: 'Login',
  valid: false,
  props: {
    isLoggedIn: {
      type: Boolean,
      required: true
    }
  },
  data () {
    return {
      valid: null,
      authDetails: {
        identifier: '',
        password: ''
      },
      error: null,
      passRules: [
        v => !!v || 'Bitte geben Sie ein Passwort ein.'
      ],
      emailRules: [
        v => !!v || 'Bitte geben Sie eine E-Mail-Adresse ein.',
        v => /.+@.+/.test(v) || 'Die eingegebene E-Mail-Adresse scheint nicht gültig zu sein.',
      ],
    }
  },
  methods: {
    loginUser: function () {
      this.$apollo.mutate({mutation: LOGIN_USER, variables: { ...this.authDetails }}).then((data) => {
        const token ='Bearer ' + data.data.login.jwt;
        localStorage.setItem('token', token); //store JWT to local storage
        this.error = null; //clear error, if login failed previusly
        this.$emit('changeLoginState'); //trigger login change event on App to change local login state
        this.$router.push({ path: '/vereine' }); // go to home
      }).catch((error) => {
        // Error
        console.error(error);
        this.error = "Could not login. Please try again.";
        localStorage.setItem('token', '');
        this.$emit('changeLoginState');
      });
    }
  }
}
</script>
