<template>
  <div>
    <v-card
      class="mx-auto"
    >
      <v-data-table
        :headers="headers"
        :items="tableItems"
        :server-items-length="totalCount"
        :hide-default-footer="true"
        disable-filtering
        disable-pagination
        disable-sort
        :loading="loading"
        loading-text="Lade Daten... Bitte warten."
       >
       <template v-slot:top>
         <v-btn
          class="mx-2 float-right"
          fab
          dark
          small
          color="accent"
          @click="reload"
        >
          <v-icon dark>
            mdi-refresh
          </v-icon>
        </v-btn>
       </template>
       <template v-slot:item.caption="{ item }">
         <div style="white-space:pre">{{item.caption}}</div>
       </template>
        <template v-slot:item.url="{ item }">
          <v-avatar
            color="primary"
            @click="download(item)"
            style="cursor:pointer"
          >
          <img
            v-if="item.formats"
            :src="backend + item.formats.thumbnail.url"
            alt="John"
          >
          <v-icon
            v-if="!item.formats"
          >
            mdi-file-pdf
          </v-icon>
        </v-avatar>
        </template>
       <template v-slot:footer>
         <v-toolbar
           flat
         >
           <v-dialog
             v-model="dialog"
             max-width="800px"
           >
             <template v-slot:activator="{ on, attrs }">
               <v-btn
                 color="accent"
                 dark
                 class="mb-2"
                 v-bind="attrs"
                 v-on="on"
               >
                 {{newRcrdBtnTxt}}
               </v-btn>
             </template>
             <v-card>
               <v-card-title>
                 <span class="headline">{{ formTitle }}</span>
               </v-card-title>

            <v-card-text>
              <v-form v-model="valid">
                <v-row>
                   <v-col
                     cols="12"
                     :sm="value.colspan"
                     :md="value.colspan"
                     v-for="(value, name, index) in formFields"
                     :key="index"
                   >
                      <v-file-input
                      v-if="value.type === 'media' && editedIndex === -1"
                       multiple
                       v-model="editedItem[name]"
                       :label="value.label"
                       truncate-length="15"
                      ></v-file-input>
                       <v-text-field
                          v-if="isTextField(value.type)"
                          :type="value.type"
                          v-model="editedItem[name]"
                          :label="value.label"
                          :required="value.required"
                          :rules="value.rules"
                       ></v-text-field>
                       <v-textarea
                          v-if="value.type === 'textarea'"
                          v-model="editedItem[name]"
                          :label="value.label"
                          :required="value.required"
                          :rules="value.rules"
                       ></v-textarea>
                       <v-checkbox
                          v-if="value.type === 'checkbox'"
                          v-model="editedItem[name]"
                          :label="value.label"
                          :required="value.required"
                          :rules="value.rules"
                       />
                      <SelectList
                        v-if="value.type === 'select'"
                        v-model="editedItem[name]"
                        :defaultSelected="editedItem[name]"
                        :label="value.label"
                        :required="value.required"
                        :rules="value.rules"
                        :model="value.model"
                        :listName="value.listName"
                         />

                       <v-menu
                        v-if="value.type === 'date'"
                        :close-on-content-click="true"
                        :nudge-right="40"
                        transition="scale-transition"
                        offset-y
                        min-width="290px"
                      >
                      <template v-slot:activator="{ on, attrs }">
                        <v-text-field
                          v-model="editedItem[name]"
                          :label="value.label"
                          prepend-icon="mdi-calendar"
                          v-bind="attrs"
                          v-on="on"
                        ></v-text-field>
                      </template>
                      <v-date-picker
                        v-model="editedItem[name]"
                        locale="de-de"
                        :no-title="true"
                      ></v-date-picker>
                    </v-menu>
                    <DatetimePicker
                      v-if="value.type === 'datetime'"
                      :label="value.label"
                      :date-picker-props="{locale:'de-de',noTitle:true}"
                      :time-picker-props="{locale:'de-de',format:'24hr'}"
                      :clear-text="'abbrechen'"
                      :okText="'OK'"
                      v-model="editedItem[name]"
                      :required="value.required"
                      :rules="value.rules"
                      > </DatetimePicker>
                   </v-col>
                  </v-row>
                </v-form>
                <v-flex v-if="error" class="text-xs-center" mt-5>
                 <v-alert style="white-space:pre-wrap"
                   type="error"
                 >{{error}}</v-alert>
                </v-flex>
              </v-card-text>

               <v-card-actions>
                 <v-spacer></v-spacer>
                 <v-btn
                   color="secondary"
                   text
                   @click="close"
                 >
                   Abbrechen
                 </v-btn>

                 <v-btn
                    v-if="valid"
                   :loading="loading"
                   :disabled="loading"
                   color="accent"
                   class="ma-2 white--text"
                   @click="save"
                 >
                   Senden
                   <v-icon
                     right
                     dark
                   >
                     mdi-cloud-upload
                   </v-icon>
                 </v-btn>
               </v-card-actions>
               <v-flex v-if="error" class="text-xs-center" mt-5>
                <v-alert style="white-space:pre-wrap"
                  type="error"
                >{{error}}</v-alert>
               </v-flex>
             </v-card>
           </v-dialog>
           <v-dialog v-model="dialogDelete" max-width="600px">
             <v-card>
               <v-card-title class="headline">Wollen Sie diesen Datensatz wirklich löschen?</v-card-title>
               <v-card-actions>
                 <v-spacer></v-spacer>
                 <v-btn color="blue darken-1" text @click="closeDelete">Abbrechen</v-btn>
                 <v-btn color="blue darken-1" text @click="deleteItemConfirm">Löschen</v-btn>
                 <v-spacer></v-spacer>
               </v-card-actions>
               <v-flex v-if="error" class="text-xs-center" mt-5>
                <v-alert style="white-space:pre-wrap"
                  type="error"
                >{{error}}</v-alert>
               </v-flex>
             </v-card>
           </v-dialog>
         </v-toolbar>
       </template>
       <template v-slot:item.actions="{ item }">
         <v-icon
           v-if="listIsEditable"
           small
           class="mr-2"
           @click="editItem(item)"
         >
           mdi-pencil
         </v-icon>
         <v-icon
           small
           @click="deleteItem(item)"
         >
           mdi-delete
         </v-icon>
         <v-icon
           small
           v-if="model.type==='media'"
           @click="download(item)"
         >
           mdi-download
         </v-icon>
       </template>
     </v-data-table>
    </v-card>
  </div>
</template>
<script>

import SelectList from './SelectList';
import DatetimePicker from './DateTimePicker';
import gqlCreator from './../helpers/gqlCreator';
import gql from 'graphql-tag';
import {HTTP} from './../axios';

//type helper
const isEditable = function(field){
  if(field === false || field === undefined){
    return false;
  }
  return typeof field === 'string' || typeof field === 'object' && field.editable === undefined || field.editable;
};
const fieldType = function(field){
  if(typeof field === 'object'){
    if(field.type){
      return field.type;
    }
  }
  return "text";
};

export default {
  components:{SelectList,DatetimePicker},
  props: {
    model:{
      type: Object,
      required: true,
    },
    parent:{
      type: Object,
      required: true
    },
    defaultSearchField:{
      type: String,
      required: false
    },
    listName:{
      type: String,
      required: true
    },
    listTitle:{
      type: String,
      required: true
    },
    rules:{
      type: Object,
      required: true
    }
  },
  data () {
    return {
      backend: process.env.VUE_APP_STRAPI_API_URL,
      items:[],
      search:'',
      searchField: [],
      itemsConnection:{},
      itemsConnectionQuery:{},
      itemsPerPage: -1,
      first: 0,
      page: 1,
      sortBy: '',
      sortDesc: false,
      editedIndex: -1,
      dialog: false,
      dialogDelete: false,
      editedItem: {},
      defaultItem: {},
      loading:false,
      valid:false,
      error: null
    };
  },
  computed:{
    newRcrdBtnTxt(){
      return this.$props.model.newRcrdBtnTxt || 'Neuer Datensatz';
    },
    listIsEditable(){
      return this.$props.model.editable === undefined || this.$props.model.editable !== false;
    },
    tableItems(){
      const model = this.$props.model.model;
      let tableList = [];
      for(let i = 0; i < this.items.length;i++){
        let x = this.items[i];
        tableList.push({});
        for(let field in x){
          if(typeof model[field] === 'object'){
            switch(model[field].type){
              case 'date':
                tableList[tableList.length-1][field] = new Date(x[field]).toLocaleDateString('de-DE', { weekday: 'short', year: 'numeric', month: 'short', day: 'numeric' });
                //x[field] = new Date(x[field]).toISOString().split("T")[0];
                break;
              case 'datetime':
                  tableList[tableList.length-1][field] = new Date(x[field]);
                  tableList[tableList.length-1][field].setHours(new Date(x[field]).getHours()-1);
                  tableList[tableList.length-1][field] = tableList[tableList.length-1][field].toLocaleDateString('de-DE', { weekday: 'short', year: 'numeric', month: 'short', day: 'numeric', hour: '2-digit', minute: '2-digit' });
                  //x[field] = new Date(x[field]).toISOString().split("T")[0] + " " + new Date(x[field]).toISOString().split("T")[1].substr(0,5);
                break;
              case 'select':
                if(typeof x[field] === 'object'){
                    tableList[tableList.length-1][field] = x[field][model[field].short];
                }else{
                  tableList[tableList.length-1][field] = x[field];
                }
                break;
              case 'media':
                if(typeof x[field] === 'object'){
                  if(x[field].length === 0){
                    return [];
                  }else{
                    for(let m = 0; m < x[field].length; m++){
                      tableList[m] = {};
                      for(let subfield in x[field][m]){
                        tableList[m][subfield] = x[field][m][subfield];
                      }
                    }
                  }
                }else{
                  throw('unexpected input for type media');
                }
              break;
              default:
                tableList[tableList.length-1][field] = x[field];
            }
          }else{
            tableList[tableList.length-1][field] = x[field];
          }
        }
      }
      return tableList;
    },
    formFields(){
      let model = this.$props.model.model;
      let formObject = {};
      //let createVerein = this.editedIndex === -1;
      for(let field in model){
        if(isEditable(model[field])){
          formObject[field] = {
            name: field,
            label: model[field].text || (typeof model[field] === "string"?model[field]:field),
            type: fieldType(model[field]),
            colspan: model[field].colspan || 6,
            required: model[field].required || false,
            rules: this.$props.rules[model[field].rules] || [],
            model: model[field] || null,
            listName: model[field].listName
          };
          if(fieldType(model[field])==='media'){
            formObject['caption']={
              name: "caption",
              label: "Beschreibung",
              type: "textarea",
              colspan: 12,
              required: true,
              rules: this.$props.rules['notEmptyRules'],
              model: null,
              listName: model[field].listName
            };
          }
          if(formObject[field].required){
            formObject[field].label+='*';
          }
        }
      }
      return formObject;
    },
    formTitle () {
      if(this.model.type==='media'){
        return 'Dateien hochladen';
      }
      return this.editedIndex === -1 ? 'Neuen Datensatz anlegen' : 'Datensatz bearbeiten'
    },
    where(){
      let whereStatement = {};
      whereStatement[this.$props.model.key]=this.$props.parent.id;
      return whereStatement;
    },
    last: function(){
      return this.first + this.itemsPerPage;
    },
    totalCount:function(){
      //return 0;
      return this.itemsConnection.aggregate?this.itemsConnection.aggregate.count:0;
    },
    orderBy() {
      if (this.sortDesc) {
        return this.sortBy + ":desc"
      }
      return this.sortBy
    },
    headers(){
      // return headers from model with actions column
      let headers = [  { text: 'Actions', value: 'actions', sortable: false }];
      let model = this.$props.model.model;
      for (let field in model){
        if(typeof model[field] === 'string' || typeof model[field] === 'object' && model[field].type !== 'list' && model[field].type !== 'media'){
          headers.push({
            text: model[field].text || typeof model[field] === "string"?model[field]:field,
            value: field,
            editable: model[field].editable || true
          });
        }else if(model[field].type === 'media'){
          for(let subfield in model[field].model){
            if(typeof model[field].model[subfield] === 'string' || typeof model[field].model[subfield] === 'object'){
              headers.push({
                text: model[field].model[subfield].text || typeof model[field].model[subfield] === "string"?model[field].model[subfield]:subfield,
                value: subfield,
                editable: model[field].model[subfield].editable || true
              });
            }
          }
        }
      }

      return headers;
    },
    newData(){
      let dataRecord = this.editedItem;
      let newData = {};
      for(let key in dataRecord){
        if(key !== 'id' && key !== '__typename'){
          var v = dataRecord[key];
          if(this.$props.model.model[key]!== undefined){
            switch(this.$props.model.model[key].type){
              case 'number':
                v = parseInt(dataRecord[key])
                break;
              case 'checkbox':
                v = Boolean(dataRecord[key]);
                break;
              case 'date':
                v = new Date(dataRecord[key]);
                v = v.toISOString().split("T")[0];
                break;
              case 'datetime':
                v = new Date(dataRecord[key]);
                v.setHours(v.getHours() + 1);
                v = v.toISOString();
                break;
              case 'select':
                if(typeof v === 'object'){
                  v = v.id;
                }
                break;
              case 'media':
                if (this.editedIndex !== -1) {
                  newData["caption"] = dataRecord.caption;
                }else{
                  newData.files = v;
                  newData.refId = this.$props.parent.id;
                  newData.ref = this.$props.parent.clubname;
                }

            }
          }

          newData[key] = v;
        }
      }
      if (this.editedIndex === -1) {
        newData[this.$props.model.key] = this.$props.parent.id;
      }
      return newData;
    }
  },
  watch: {
    dialog (val) {
      val || this.close()
    },
    dialogDelete (val) {
      val || this.closeDelete()
    },
    page(current, old) {
      //console.log("page changed");
      if (current > old) {
        this.first = this.first+this.itemsPerPage;
      } else if(current === 1){
        this.first = 0;
      } else {
        this.first = this.first-this.itemsPerPage;
      }
      if(current !== old){
        this.$apollo.queries.items.refetch();
      }

    },
    search(current){
      if(current!==''){
        this.page=1;
      }
    }
  },
  errorCaptured(err) {
    this.error = err.message;
    console.error(err);
    return false;
  },
  methods:{
    download(item){
      window.open(this.backend+item.url);
    },
    reload(){
      const that = this;
      that.loading = true;
      async function refresh(){
        await Promise.all([
          that.$apollo.queries.itemsConnection.refetch(),
          that.$apollo.queries.items.refetch()
        ]);
        that.loading = false;
      }
      refresh();
    },
    isTextField(type){
      switch(type){
        case 'select':
        case 'textarea':
        case 'checkbox':
        case 'date':
        case 'datetime':
        case 'media':
          return false;
        default:
          return true;
      }
    },
    editItem (item) {
      this.editedIndex = this.tableItems.indexOf(item);
      if(this.model.type==='media'){
        this.editedItem = Object.assign({},this.editedItem, this.items[0].uploads[this.editedIndex]);
      }else{
        this.editedItem = Object.assign({},this.editedItem, this.items[this.editedIndex]);
      }
      //fix date time issue (vuetify date items are expeting a datestring without T and Z)
      for(let field in this.editedItem){
          if(this.$props.model.model[field] && this.$props.model.model[field].type === 'datetime'){
            this.editedItem[field] = new Date(this.editedItem[field]).toISOString().split("T")[0] + " " + new Date(this.editedItem[field]).toISOString().split("T")[1].substr(0,5);
          }else if(this.$props.model.model[field] && this.$props.model.model[field].type === 'date'){
            this.editedItem[field] = new Date(this.editedItem[field]).toISOString().split("T")[0]
          }
      }
      this.dialog = true
    },

    deleteItem (item) {
      this.editedIndex = this.tableItems.indexOf(item)
      this.editedItem = Object.assign({}, item)
      this.dialogDelete = true
    },

    deleteItemConfirm () {
      let that = this;
      that.loading = true;
      that.$apollo.mutate({
        mutation: gql`mutation ($id: ID!) {
          delete${this.$props.model.typeKey}(
            input:{
              where: {id:$id}
            }){
            ${this.$props.model.mutationKey} {
              id
            }
          }
        }`,
        variables:{
           id: this.tableItems[this.editedIndex].id
         }
      })
      .catch(function(er){
        that.error = er;
        throw(er);
      })
      .then(function(){
        // that.$apollo.queries.items.refetch();
        // that.$apollo.queries.itemsConnection.refetch();
        // that.closeDelete();
        if(that.model.type==='media'){
          that.items[0].uploads.splice(that.editedIndex, 1);
        }else{
          that.items.splice(that.editedIndex, 1);
          that.itemsConnection.aggregate.count += -1;
        }
        that.success();
      },that.failed);
    },
    close () {
      this.dialog = false
      this.error = null
      this.$nextTick(() => {
        this.editedItem = Object.assign({}, this.defaultItem)
        this.editedIndex = -1
      })
    },
    closeDelete () {
      this.dialogDelete = false;
      this.error=null;
      this.$nextTick(() => {
        this.editedItem = Object.assign({}, this.defaultItem)
        this.editedIndex = -1
      })
    },
    failed(er){
      console.error(er);
      this.error = er.message + '\n\n';
      if(er.networkError !== undefined && er.networkError.result !== undefined && er.networkError.result.errors.length > 1){
        for (var i = 0; i < er.networkError.result.errors.length; i++) {
          this.error += er.networkError.result.errors[i].message
        }
      }
      this.loading = false;
    },
    success(){
      this.loading = false;
      this.close();
      this.closeDelete();
      this.error = null;
    },
    save() {
      this.loading = true;
      try{
        let that = this;
        if (that.editedIndex > -1) {
          //FileInfoInput
          if(that.$props.model.type==='media'){
            let updateO = {
              caption: that.newData.caption
            };
            that.$apollo.mutate({
              mutation: gql`mutation ($id: ID!, $item: FileInfoInput!) {
                updateFileInfo(
                  id: $id
                  info: $item
                ){
                  id
                }
              }`,
              variables:{
                 id: that.tableItems[that.editedIndex].id,
                 item: updateO
               }
              }).then(function(){
                that.$apollo.queries.items.refetch();
                that.$apollo.queries.itemsConnection.refetch();
                that.success();
              },that.failed);
          }else{
            that.$apollo.mutate({
              mutation: gql`mutation ($id: ID!, $item: edit${that.$props.model.typeKey}Input) {
                update${that.$props.model.typeKey}(
                  input:{
                    where: {id:$id}
                    data: $item
                  }){
                  ${that.$props.model.mutationKey} {
                    id
                  }
                }
              }`,
              variables:{
                 id: that.tableItems[that.editedIndex].id,
                 item: that.newData
               }
              }).then(function(){
                that.$apollo.queries.items.refetch();
                that.$apollo.queries.itemsConnection.refetch();
                that.success();
              },that.failed);
          }

        } else {
          //create record
          let tempCopy = Object.assign({},that.newData);
          let createMutation = that.$props.model.createMutation || that.$props.model.mutationKey;
          let apolloObject = {};
          if(that.$props.model.type==='media'){
            const formData = new FormData();
            tempCopy.files.map(function(x){
              formData.append('files', x, x.name);
              return x;
            });
            formData.append('refId', tempCopy.refId);
            formData.append('ref', 'Golfvereine');
            formData.append('field', 'uploads');
            //formData.append('caption', that.newData.caption);


            HTTP.post( '/upload',
              formData
            ).then(function(re){
              //caption was not empty must be set after upload
              if(that.newData.caption !== ''){
                let updateO = {
                  caption: that.newData.caption
                };
                let updateCaption = function(files){
                  that.$apollo.mutate({
                    mutation: gql`mutation ($id: ID!, $item: FileInfoInput!) {
                      updateFileInfo(
                        id: $id
                        info: $item
                      ){
                        id
                      }
                    }`,
                    variables:{
                       id: files[0].id,
                       item: updateO
                     }
                    }).then(function(){
                      files.shift();
                      if(files.length > 0){
                        updateCaption(files);
                      }else{
                        that.$apollo.queries.items.refetch();
                        that.$apollo.queries.itemsConnection.refetch();
                        that.success();
                      }
                    },that.failed);
                };
                updateCaption(re.data);
              }else{
                //no caption
                that.$nextTick(function () {
                  that.items[0] = that.items[0] || {uploads:[]};
                  that.items[0].uploads = that.items[0].uploads.concat(re.data);
                  that.itemsConnection.aggregate.count += re.data.length;
                  that.success();
                });
              }
            })
            .catch(function(er){
              that.failed(er);
            });

          }else{
            apolloObject = {
              mutation: gqlCreator.create(that.$props.model.typeKey,createMutation,that.$props.model.model),
              variables:{
                 item: tempCopy
               }
             };
             that.$apollo.mutate(apolloObject)
               .then(function(re){
                 that.$nextTick(function () {
                   that.items.push(re.data['create'+that.$props.model.typeKey][that.$props.model.mutationKey]);
                   that.itemsConnection.aggregate.count += 1;
                   that.success();
                 })
               },that.failed);
          }
        }
      }catch(er){
        console.error(er);
        this.failed(er);
      }
    },
  },
  apollo: {
    items: {
      query(){
          return gqlCreator.query(this.$props.model.model,this.$props.listName);
      },
      variables() {
        return {where:this.where}
      },
      update (data) {
          return data[this.$props.listName];
      },
    },
    itemsConnection:{
      query(){
        return gqlCreator.query('count',this.$props.listName);
      },
      variables() {
        return {where:this.where}
      },
      update (data) {
        return data[this.$props.listName+'Connection'];
      },
    }
  }
}
</script>
