<template>
  <v-app>
    <error-boundary>
      <HeadNavi
        :isLoggedIn="isLoggedIn"
        :appTitle="appTitle"
        :rights="user.rights"
       />

      <v-main class="grey lighten-2">
        <v-container fluid>
          <v-row>
            <v-col xs12 class="text-xs-center" mt-5 max-width="800">
              <router-view
              :isLoggedIn="isLoggedIn"
              :model="listModel"
              :listName="listName"
              :listTitle="listTitle"
              :searchFields="searchFields"
              :typeKey="typeKey"
              :mutationKey="mutationKey"
              :newRecordBtnTxt="newRecordBtnTxt"
              @changeLoginState="changeLoginState()" ></router-view>
            </v-col>

          </v-row>
        </v-container>
      </v-main>
    </error-boundary>
  </v-app>
</template>
<script>
import HeadNavi from './components/HeadNavi';
import errorBoundary from './components/error-boundary';
import model from './helpers/model';

const checkIfTokenIsThere = function(){
  return typeof localStorage.getItem('token') === "string" && localStorage.getItem('token')!== ''
}

export default {
  name: "App",
  components:{HeadNavi,errorBoundary},
  data(){
    return {
      appTitle: 'GV-NRW Verwaltung',
      user: {
        rights:{//should get loaded from strapi
        createUsers: false
        }
      },
      connecting:false,
      isLoggedIn: false,
    }
  },
  computed:{
    typeKey(){
      return this.getModelProp(this.$route.name,'typeKey');//this.$route.name!==null?model[this.$route.name].typeKey:'';
    },
    mutationKey(){
      return this.getModelProp(this.$route.name,'mutationKey');
    },
    listModel(){
      return this.getModelProp(this.$route.name,'model');//this.$route.name!==null?model[this.$route.name].model:{};
    },
    // defaultSearchField(){
    //   return this.getModelProp(this.$route.name,'defaultSearchField');
    // },
    searchFields(){
      return this.getModelProp(this.$route.name,'searchFields');
    },
    listName(){
      return this.getModelProp(this.$route.name,'listName');
    },
    listTitle(){
      return this.getModelProp(this.$route.name,'listTitle');
    },
    newRecordBtnTxt(){
      return this.getModelProp(this.$route.name,'newRecordBtnTxt');
    }
  },
  methods: {
    changeLoginState () {
      //custom event function to change login state in app data after logging in or out
      this.isLoggedIn = checkIfTokenIsThere();
    },
    getModelProp(name,key){
      if(model[name]!== undefined){
        return model[name][key];
      }
      return null;
    }
  },
  mounted(){
    this.$nextTick(function () {
      //recover logged in state in app data
      this.isLoggedIn = checkIfTokenIsThere();
    })
  }
}
</script>
<style>

</style>
